$colorbody: #a9b2f3;
$coloroscuro:#476072;
$colorclaro: #EEEEEE;
$colorbodyantes: #8388b6;


@media screen and (min-width: 0px) {
    .quesesto {
    background-color: $colorclaro;
    height: max-content;
    left: 3rem;
    margin-bottom: 20rem;
    padding: 1rem;
    position: relative;
    top: 1rem;
    width: 82%;
    .configImg {
        width: 2rem;
    }
}
}
@media screen and (min-width: 375px) {
    .quesesto {
        width: 85%;
    }
}
@media screen and (min-width: 425px) {
    .quesesto {
        width: 65%;
    }
}
@media screen and (min-width: 768px) {  
    .quesesto {
        width: 75%;
    }
}


@media screen and (min-width: 1024px) {
    .quesesto {
        left: 3.7rem;
        width: 81%;
    }
}



